.fit-content{
    width: fit-content;
    width: -moz-fit-content;
  }

.el-cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 1em; /* adjust size to balance with "Musico" */
    font-weight: normal;
}


#audio-player{
  right: 0px;
  left: 0px;
  position: fixed;
  bottom: 0px;
  padding: 20px;
  font-family: 'JetBrains Mono', monospace;
}
.song-image{
  width: 110px;border-top-left-radius: 30px;height: 114px;
}
.song-text{
  margin: 0px;color: rgb(172,248,159);max-width: 100%;
}
.song-container{
  margin-bottom: 20px;border-bottom-right-radius: 30px;border: 2px solid var(--gray);border-bottom-style: solid;border-top-left-radius: 30px;
}

.song-container:hover {
  border: 4px solid #055ada;
  transform: scale(1.03);
  cursor: pointer;
}
audio::-webkit-media-controls-panel{
  background-color: #ff9f44af;
}

.header-dark{
  background-size: cover;
}
.header-dark h1 {
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  font-size: 40px;
  padding-top: 60px;
}
.highlight-clean{
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
  font-family: 'JetBrains Mono', monospace;
}
.highlight-clean p{
  color: #7d8285;
}  
.highlight-clean .intro{
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons{
  text-align: center;
}

.highlight-clean .buttons .btn{
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover{
  opacity: 1;
}

.highlight-clean .buttons .btn:active{
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary{
  background-color: #055ada;
  color: #fff;
}
.text-center{
  margin: 10px 0 15px;
}

#music-bitrate {
  background-color: #1c1c1c;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  user-select: none;
}

.suggestions-button {
  opacity: 0%;
}

.playlist-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-size: 24px;
}

.playlist-box {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  text-align: center;
  position: relative;
}

.clickable-playlist {
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
  display: inline-block;
  transition: opacity 0.3s;
}

.clickable-playlist:hover {
  opacity: 0.7;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}